.container-accordion {
    padding: 60px 120px;

    * {
        color: white;
    }

    @media (max-width: 900px) {
        padding: 60px;
    }

    @media (max-width: 700px) {
        padding: 40px 20px;
    }

    &--title {
        font-style: normal;
        font-weight: 700;
        font-size: 28px;
        line-height: 120%;

        @media (max-width: 700px) {
            font-size: 24px;
        }
    }

    &--article {
        margin-top: 32px;

        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 130%;

        @media (max-width: 700px) {
            font-size: 18px;
        }
    }
    .accordion {
        margin-top: 32px;
        &-item {
            cursor: pointer;
            border: none;
            border-top: 1px solid white;

            @media (max-width: 700px) {
                padding: 20px 8px;
            }

            &:last-child {
                border-bottom: 1px solid white;
            }
            &:first-of-type, &:last-of-type {
                border-radius: 0;
                .accordion-button {
                    border-radius: 0;
                }
            }
        }
        &-button {
            padding: 24px 0;

            font-weight: 400;
            font-size: 28px;
            line-height: 130%;

            border-radius: 0;
            box-shadow: none;

            @media (max-width: 700px) {
                padding-right: 35px;
                font-size: 22px;
            }

            &::after {
                -webkit-mask-size: 16px;
                -webkit-mask-position: center;
                -webkit-mask-repeat: no-repeat;
                background-color: white;
                -webkit-mask-image: url("~@/assets/images/accordion/minus.svg");
                background-image: none;
                margin-right: 6px;
            }
            &.collapsed {
                &::after {
                    -webkit-mask-image: url("~@/assets/images/accordion/plus.svg");
                    background-image: none;
                }
            }
        }
        &-body {
            font-style: normal;
            font-weight: 400;
            font-size: 20px;
            line-height: 130%;

            @media (max-width: 700px) {
                font-size: 18px;
            }
        }
    }

    &--white {
        background-color: white;
        color: black;
        .container-accordion {
            &--title,&--article {
                color: black;
            }
        }
        .accordion {
            &-item {
                border-top: 1px solid black;
                background-color: white;
                &:last-child {
                    border-bottom: 1px solid black;
                }
            }
            &-button {
                color: black;
                background-color: white;
                &,&.collapsed {
                    &::after {
                        background-color: black;
                    }
                }
            }
            &-body {
                background-color: white;
                color: black;
            }
        }
    }
    &--black {
        background-color: black;
        color: white;
        .accordion {
            &-item {
                background-color: black;
            }
            &-button {
                color: white;
                background-color: black;
            }
            &-body {
                background-color: black;
                color: white;
            }
        }
    }
}

