.accordion-section {
    padding: 60px 120px;
    &--white{
        background-color: $white;
        color: $black;
        .accordion-item{
            border: 0;
            border-top: 1px $black solid;
            .accordion-button:not(.collapsed){
                box-shadow:none;
            }
        }

    }
    &--black{
        background-color: $black;
        color: $white;
        .accordion{
            background-color: $black;
            color: $white;
            .accordion-button{
                background-color: $black;
                color: $white;
                
            }
            .accordion-item{
                background-color: $black;
                color: $white;
            }
        }
        .accordion-item{
            border: 0;
            border-top: 1px $white solid;
            .accordion-button{
                background-color: $black;
                color: $white;
                box-shadow:none;
                &::after{
                    background-image: url("../src/assets/images/accordion/plus.svg")
                }
            }
            .accordion-button:not(.collapsed){
                box-shadow:none;
                &::after{
                    background-image: url("../src/assets/images/accordion/minus.svg")
                }
            }
        }

    }
    @media (max-width: 900px) {
        padding: 60px;
    }

    @media (max-width: 700px) {
        padding: 40px 20px;
    }

}
