.awards-round {
    display: flex;
    flex-direction: column;
    overflow: hidden;

    padding: 56px 120px;

    &__header {
        display: block;
        margin: 0 auto 96px;

        font-size: 56px;
        font-weight: 700;
        line-height: 67px;
        letter-spacing: 0;
        text-align: center;
    }

    .swiper {
        height: 543px;

        max-width: 468px;
        overflow: visible;
        &-slide {
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: end;

            height: 543px;

            max-width: 468px;
            width: 100%;
            padding: 0 76px 37%;

            //background-image: url("../../assets/images/award_card.svg");
            background-image: url("~@/assets/images/award_card.svg");
            background-size: contain;
            background-repeat: no-repeat;
            &:before {
                position: absolute;
                content: ' ';
                z-index: 2;
                top: 0;

                width: 100%;
                height: 100%;

                background-color: rgba(0, 0, 0, 0.5);
            }
            &-active {
                &:before {
                    display: none;
                }
            }
            &__header {
                margin-top: 108px;
                margin-bottom: 20px;

                font-size: 36px;
                font-weight: 700;
                line-height: 40px;
                letter-spacing: 0em;
                text-align: center;
            }
            &__text {
                margin-bottom: 41px;

                font-size: 20px;
                font-weight: 400;
                line-height: 26px;
                letter-spacing: 0em;
                text-align: center;
            }
            &__category {
                margin-bottom: 6px;
                padding: 0 30px;

                font-size: 16px;
                font-weight: 700;
                line-height: 21px;
                letter-spacing: 0em;
                text-align: center;
                text-transform: uppercase;
            }
            &__year {
                font-size: 16px;
                font-weight: 700;
                line-height: 21px;
                letter-spacing: 0em;
                text-align: center;
                text-transform: capitalize;
            }
        }
        &-pagination {
            bottom: -8.6%;
            &-bullets {
                .swiper-pagination-bullet {
                    background: white;
                    height: 15px;
                    width: 15px;
                    margin: 0 18px;
                }
            }
        }
    }
}

.awards-row {
    display: flex;
    flex-direction: column;
    overflow: hidden;

    width: 100%;
    height: 100%;
    padding: 56px 120px;

    &__header {
        display: block;
        margin: 0 auto 40px;

        font-size: 56px;
        font-weight: 700;
        line-height: 67px;
        letter-spacing: 0em;
        text-align: center;
    }

    .swiper {
        width: 100%;
        height: 100%;
        padding-bottom: 100px;
        &-slide {
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: center;

            width: 402px;
            min-height: 396px;
            padding: 38px 81px;

            background-color: #1A1A1A;
            border-radius: 14px;
            //background-image: url("../../assets/images/awards/leaves.svg");
            background-image: url("~@/assets/images/awards/leaves.svg");
            background-repeat: no-repeat;
            background-size: 92% 100%;
            background-position: 50% 50%;
            &__year {
                margin-bottom: 51px;

                font-size: 32px;
                font-weight: 700;
                line-height: 38px;
                letter-spacing: 0em;
                text-align: center;
                color: #AA73E6;
            }
            &__text {
                margin: 0 0 40px 0;

                font-size: 28px;
                font-weight: 700;
                line-height: 34px;
                letter-spacing: 0em;
                text-align: center;
            }
            &__category {
                font-size: 20px;
                font-weight: 400;
                line-height: 26px;
                letter-spacing: 0em;
                text-align: center;
                color: #808080;

            }
        }
        &-pagination {
            bottom: 5.2%;
            &-bullets {
                .swiper-pagination-bullet {
                    background: white;
                    height: 15px;
                    width: 15px;
                    margin: 0 18px;
                }
            }
        }
    }
}

.awards-big {
    display: flex;
    flex-direction: column;
    overflow: hidden;

    width: 100%;
    height: 100%;
    padding: 56px 120px;
    background: linear-gradient(127.22deg, #361559 28.42%, #0F061A 69.76%);

    &__header {
        display: block;
        margin: 0 auto 40px;

        font-size: 56px;
        font-weight: 700;
        line-height: 67px;
        letter-spacing: 0em;
        text-align: center;
    }

    .swiper {
        width: 100%;
        height: 100%;
        &-slide {
            display: flex;

            margin-bottom: 48px;
            width: 100%;
            height: 100%;
            background: transparent;
            &-info {
                display: flex;
                flex-direction: column;

                min-height: 822px;
                width: 50%;
                padding: 153px 100px 121px;
                margin: 0 24px 0 0;

                //background-image: url("../../assets/images/awards/info-block.png");
                background-image: url("~@/assets/images/awards/info-block.png");
                background-size: cover;
                border-radius: 14px;
                &__text {
                    margin: 0 0 127px 0;
                    .article {
                        margin: 0;

                        font-size: 28px;
                        font-weight: 400;
                        line-height: 39px;
                        letter-spacing: 0em;
                        text-align: left;
                    }
                }
                &__about {
                    display: flex;
                    align-items: center;

                    width: 100%;
                    .avatar {
                        width: 146px;
                        height: 146px;
                        margin-right: 36px;

                        border-radius: 100%;
                        background: white;
                    }
                    .name {
                        font-size: 32px;
                        font-weight: 700;
                        line-height: 38px;
                        letter-spacing: 0em;
                        text-align: left;

                        .info {
                            font-size: 28px;
                            font-weight: 400;
                            line-height: 36px;
                            letter-spacing: 0em;
                            text-align: left;
                        }
                    }
                }
            }
            &-links {
                display: flex;
                flex-direction: column;

                height: 100%;
                width: 50%;

                border-radius: 14px;

                &__card {
                    display: flex;
                    flex-direction: column;

                    padding: 0 195px 0 40px;
                    margin: 0 0 27px 0;

                    background: #1A1A1A;
                    border-radius: 14px;

                    .text {
                        margin-top: 133px;
                        margin-bottom: 32px;

                        font-size: 36px;
                        font-weight: 700;
                        line-height: 40px;
                        letter-spacing: 0em;
                        text-align: left;
                    }
                    .link {
                        margin-bottom: 85px;
                        text-decoration: none;
                        font-size: 20px;
                        cursor: pointer;
                        font-weight: 700;
                        line-height: 26px;
                        letter-spacing: 0em;
                        text-align: left;

                        color: #00A3E1;

                        &:after {
                            content: ' >';
                        }
                        &:hover:after {
                            content: ' >>>';
                        }
                    }
                }
                &__awards {
                    display: flex;
                    justify-content: space-between;
                    .award-item {
                        position: relative;
                        display: flex;
                        flex-direction: column;
                        align-items: center;

                        width: 402px;
                        min-height: 396px;
                        padding: 38px 81px;

                        background-color: #1A1A1A;
                        border-radius: 14px;
                        //background-image: url("../../assets/images/awards/leaves.svg");
                        background-image: url("~@/assets/images/awards/leaves.svg");
                        background-repeat: no-repeat;
                        background-size: 92% 100%;
                        background-position: 50% 50%;
                        &:first-child {
                            margin-right: 24px;
                        }
                        &__year {
                            margin-bottom: 51px;

                            font-size: 32px;
                            font-weight: 700;
                            line-height: 38px;
                            letter-spacing: 0em;
                            text-align: center;
                            color: #AA73E6;
                        }
                        &__text {
                            margin: 0 0 40px 0;

                            font-size: 28px;
                            font-weight: 700;
                            line-height: 34px;
                            letter-spacing: 0em;
                            text-align: center;
                        }
                        &__category {
                            font-size: 20px;
                            font-weight: 400;
                            line-height: 26px;
                            letter-spacing: 0em;
                            text-align: center;
                            color: #808080;
                        }
                    }
                }
            }
        }
        &-pagination {
            bottom: 0;
            &-bullets {
                .swiper-pagination-bullet {
                    background: white;
                    height: 15px;
                    width: 15px;
                    margin: 0 18px;
                }
            }
        }
    }
}
