.container-awards {
    background: $black;

    h2 {
        font-size: $h2-font-size;
        font-weight: $font-weight-bold;
        text-align: center;
        @include py(2);
        @include my(3);
    }

    .swiper {
        h2 {
            @include mb(6);

            font-size: $h5-font-size;
            font-weight: $font-weight-bold;
            line-height: $line-height-130;
            letter-spacing: 0;
            text-align: center;
        }

        p {
            &.marketing {
                font-size: $font-size-16;
                font-weight: $font-weight-bold;

                line-height: $line-height-130;
                letter-spacing: 0em;
                text-align: center;
                text-transform: uppercase;
            }
        }
    }

    &__v1 {
        .swiper {
            height: 543px;

            max-width: 468px;
            overflow: visible;

            &-slide {
                position: relative;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: end;

                height: 543px;

                max-width: 468px;
                width: 100%;
                padding: 0 76px 37%;

                //background-image: url("../../assets/images/award_card.svg");
                background-image: url("~@/assets/images/award_card.svg");
                background-size: contain;
                background-repeat: no-repeat;
                &:before {
                    position: absolute;
                    content: ' ';
                    z-index: 2;
                    top: 0;

                    width: 100%;
                    height: 100%;

                    background-color: rgba(0, 0, 0, 0.5);
                }
                &-active {
                    &:before {
                        display: none;
                    }
                }

                h2 {
                    @include pt(4);
                    @include mt(10);
                    @include mb(3);
                }

                &__text {
                    margin-bottom: 41px;

                    font-size: $font-size-20;
                    font-weight: $font-weight-normal;
                    line-height: $line-height-130;
                    letter-spacing: 0em;
                    text-align: center;
                }

                p {
                    &.marketing {
                        @include mb(1);
                        @include py(0);
                        @include px(4);
                    }
                }
                &__year {
                    font-size: $font-size-16;
                    font-weight: $font-weight-bold;

                    line-height: 21px;
                    letter-spacing: 0em;
                    text-align: center;
                    text-transform: capitalize;
                }
            }
            &-pagination {
                bottom: -8.6%;
                &-bullets {
                    .swiper-pagination-bullet {
                        background: $white;
                        height: 15px;
                        width: 15px;

                        @include my(0);
                        @include mx(2);
                    }
                }
            }
        }
    }

    &__v2 {
        .swiper {
            width: 100%;
            height: 100%;
            padding-bottom: 100px;

            &-wrapper {
                gap: 24px;
            }

            &-slide {
                position: relative;
                display: flex;
                flex-direction: column;
                align-items: center;

                width: 402px;
                min-height: 396px;

                @include py(4);
                @include px(10);

                background-color: $gray-20;
                border-radius: 14px;
                //background-image: url("../../assets/images/awards/leaves.svg");
                background-image: url("~@/assets/images/awards/leaves.svg");
                background-repeat: no-repeat;
                background-size: 92% 100%;
                background-position: 50% 50%;

                h2 {
                    color: $bright-purple-60;
                }
                &__text {
                    @include m(0);
                    @include mb(5);

                    font-weight: $font-size-28;
                    font-weight: $font-weight-bold;

                    line-height: 34px;
                    letter-spacing: 0em;
                    text-align: center;
                }

                p {
                    &.marketing {
                        font-weight: $font-size-20;
                        color: $gray-60;
                    }
                }
            }

            &-pagination {
                bottom: 5.2%;
                &-bullets {
                    .swiper-pagination-bullet {
                        background: $white;
                        height: 15px;
                        width: 15px;
                        @include my(0);
                        @include mx(2);
                    }
                }
            }
        }
    }

    &__v3 {
        .swiper {
            width: 100%;
            height: 100%;
            &-slide {
                display: flex;

                margin-bottom: 48px;
                width: 100%;
                height: 100%;
                background: transparent;
                &-info {
                    display: flex;
                    flex-direction: column;

                    min-height: 822px;
                    width: 50%;
                    padding: 153px 100px 121px;
                    @include m(0);
                    @include mr(4);

                    //background-image: url("../../assets/images/awards/info-block.png");
                    background-image: url("~@/assets/images/awards/info-block.png");
                    background-size: cover;
                    border-radius: 14px;
                    &__text {
                        @include m(0);
                        margin-bottom: 127px;

                        .article {
                            @include m(0);

                            font-size: 28px;
                            font-weight: $font-weight-normal;
                            line-height: 39px;
                            letter-spacing: 0em;
                            text-align: left;
                        }
                    }
                    &__about {
                        display: flex;
                        align-items: center;

                        width: 100%;
                        .avatar {
                            width: 146px;
                            height: 146px;
                            margin-right: 36px;

                            border-radius: 100%;
                            background: $white;
                        }
                        .name {
                            font-size: 32px;
                            font-weight: $font-weight-bold;

                            line-height: 38px;
                            letter-spacing: 0em;
                            text-align: left;

                            .info {
                                font-size: 28px;
                                font-weight: $font-weight-normal;
                                line-height: 36px;
                                letter-spacing: 0em;
                                text-align: left;
                            }
                        }
                    }
                }
                &-links {
                    display: flex;
                    flex-direction: column;

                    height: 100%;
                    width: 50%;

                    border-radius: 14px;

                    &__card {
                        display: flex;
                        flex-direction: column;

                        @include p(0);
                        padding-right: 195px;
                        @include pl(5);

                        @include m(0);
                        @include mb(3);

                        background: $gray-20;
                        border-radius: 14px;

                        h2 {
                            margin-top: 158px;
                            @include mb(3);
                            @include p(0);
                            text-align: left;
                        }

                        button {
                            @include mb(10);
                        }
                    }
                    &__awards {
                        display: flex;
                        justify-content: space-between;
                        .award-item {
                            position: relative;
                            display: flex;
                            flex-direction: column;
                            align-items: center;

                            width: 402px;
                            min-height: 396px;
                            @include py(5);
                            @include px(10);

                            background-color: $gray-20;
                            border-radius: 14px;
                            //background-image: url("../../assets/images/awards/leaves.svg");
                            background-image: url("~@/assets/images/awards/leaves.svg");
                            background-repeat: no-repeat;
                            background-size: 92% 100%;
                            background-position: 50% 50%;
                            &:first-child {
                                @include mr(4);
                            }
                            h2 {
                                @include p(0);
                                @include m(0);
                                @include mb(6);
                                color: $bright-purple-60;
                            }
                            &__text {
                                @include m(0);
                                @include mb(5);

                                font-size: $font-size-28;
                                font-weight: $font-weight-bold;

                                line-height: 34px;
                                letter-spacing: 0em;
                                text-align: center;
                            }

                            p {
                                &.marketing {
                                    font-weight: $font-size-20;
                                    color: $gray-60;
                                }
                            }
                        }
                    }
                }
            }
            &-pagination {
                bottom: 0;
                &-bullets {
                    .swiper-pagination-bullet {
                        background: $white;
                        height: 15px;
                        width: 15px;
                        @include my(0);
                        @include mx(2);
                    }
                }
            }
        }
    }
}
