.breadcrumb-section {
    .breadcrumb {
        background: none;

        &__item {
            display: inline-block;

            font-size: 14px;
            font-weight: 400;
            line-height: 18px;
            letter-spacing: 0;
            text-align: left;

            a {
                text-decoration: none;
                color: $gray-70;

                &::after {
                    //content: url("../../assets/images/arrow_right_breadcrumb.svg");
                    content: url("~@/assets/images/arrow_right_breadcrumb.svg");
                    margin-right: 13px;
                    margin-left: 13px;
                }
            }

            &:hover {
                a {
                    color: $white;
                }
            }

            &:last-child {
                a::after {
                    content: '';
                }
            }
        }
    }
}
