.container-case-studies {
    background: $black;

    h2 {
        font-size: $h2-font-size;
        font-weight: $font-weight-bold;
        text-align: center;
        @include py(2);
        @include my(3);
    }

    .row {
        grid-gap: 24px;

        @include media-breakpoint-down(lg) {
            flex-direction: column;
        }

        .col {
            @include py(0);
            @include px(0);
            @include mb(0);
            transition: flex .2s linear;

            h2 {
                @include pb(1);
                @include pt(2);
                @include m(0);
                font-size: $h1-font-size;
                font-weight: $font-weight-bold;
                line-height: $line-height-base;
                text-align: start;
            }
            p {
                padding: 1px;
                font-size: $font-size-20;
                line-height: $line-height-130;
                @include m(0);
                @include pb(2);
                @include pt(3);
            }

            a {
                text-decoration: unset;
                color: $white;

                div {
                    position: relative;
                    justify-content: flex-end;
                    min-height: 760px;
                    height: 100%;
                    @include py(6);
                    @include px(3);
                    border-radius: 14px;

                    img {
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        border-radius: 14px;
                    }

                    * {
                        z-index: 1;
                        text-decoration: none;
                    }

                    p {
                        @include py(2);
                        color: $white;

                        &.body-text-bold {
                            font-size: $font-size-20;
                            font-weight: $font-weight-bold;
                            line-height: $line-height-130;
                        }

                        &.gray {
                            display: none;
                        }
                    }

                    h4 {
                        @include py(2);
                    }

                    .gray {
                        color: $gray-90;
                    }

                    @include media-breakpoint-down(lg) {
                        min-height: unset;
                        @include p(3);
                    }
                }
            }

            .accordion-item {
                display: none;
            }

            @include media-breakpoint-down(lg) {
                a {
                    display: none;
                }

                .accordion-item {
                    display: block;
                    position: relative;
                    @include p(3);
                    background-color: transparent;

                    img {
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        border-radius: 14px !important;
                    }

                    h2 {
                        @include p(0);
                        @include m(0);

                        button {
                            @include p(0);
                            font-size: $font-size-20;
                            font-weight: $font-weight-bold;
                            background-color: transparent;
                            color: transparent;
                            box-shadow: none;

                            &::after {
                                background-image: url("../src/assets/images/accordion/plus.svg");
                                background-position: center;
                            }

                            &:not(.collapsed)::after {
                                background-image: url("../src/assets/images/accordion/minus.svg");
                                transform: none;
                            }

                            &.collapsed {
                                color: $white;
                            }
                        }
                    }

                    .accordion-collapse {
                        position: relative;
                        @include pt(10);

                        p {
                            &.body-text-bold {
                                font-size: $font-size-20;
                                font-weight: $font-weight-bold;
                                line-height: $line-height-130;

                                position: absolute;
                                top: -22px;
                                @include p(0);
                            }

                            &.gray {
                                display: none;
                            }
                        }

                        h4 {
                            max-width: 45%;
                            @include mb(4);
                        }

                        button {
                            @include p(0);
                            @include m(0);
                        }
                    }
                }
            }

            @include media-breakpoint-down(sm) {
                .accordion-item {
                    h2 {
                        button {

                            &:not(.collapsed)::after {
                                background-position-y: top;
                            }
                        }
                    }

                    .accordion-collapse {
                        p {
                            &.body-text-bold {
                                top: -51px;
                            }
                        }

                        h4 {
                            max-width: unset;
                        }
                    }
                }
            }

            &.expand {
                flex: 3 0 0;

                a {
                    div {
                        @include pr(4);

                        p {
                            display: block;
                        }
                    }
                }
            }

            &.shrink {
                flex: 1 0 0;
                a {
                    position: relative;

                    &::after {
                        content: none;
                        position: absolute;
                        left: 0;
                        top: 0;
                        z-index: 1;
                        width: 100%;
                        height: 100%;
                        border-radius: 14px;
                        //background: rgba(0, 0, 0, 0.4);
                        //backdrop-filter: blur(4px);
                    }

                    div {
                        p, h4, button {
                            opacity: 0;
                            transition: opacity .4s linear;
                        }

                        img{
                            border-radius: 14px;
                        }
                    }
                }
            }
        }
    }

    .btn-outline {
        margin: auto;
        @include mt(5);
    }
}

.container-featured {
    background: $black;

    .title {
        width: 100%;
        text-align: center;
        @include media-breakpoint-between(sm, lg) {
            @include pr(3);
        }
        @include media-breakpoint-down(sm) {
            @include px(0);
            width: 100%;

            text-align: center;
        }
        h2 {
            font-size: $h2-font-size;
            font-weight: $font-weight-bold;
            @include pt(7);
            @include pb(5);
            @include media-breakpoint-between(sm, lg) {
                @include pb(4);


            }
            @include media-breakpoint-down(sm) {
                @include pb(3);
                @include pt(1);
                @include mb(0);
                font-size: $h5-font-size;
            }
        }
        p {
            font-size: $font-size-28;
            line-height: $line-height-130;
            @include pb(5);
            @include media-breakpoint-down(sm) {
                font-size: $font-size-20;
            }
        }

        @include media-breakpoint-between(sm, lg) {
            @include pr(3);
        }
    }
    .row {
        width: 100%;
        margin: auto;
        gap: 24px;
        @include media-breakpoint-down(sm) {
            background: $black;
            border-radius: 0.7rem;
            width: 100%;
            margin-left: 0px;
            margin-right: 0px;
        }
        .col-my {
            @include pt(3);
        }
        .col {
            min-width: 300px;
            box-sizing: border-box;
            height: 100%;
            min-height: 600px;
            @include py(6);
            @include px(3);
            cursor: pointer;
            flex: 1;
            position: relative;

            display: flex;
            flex-direction: column;
            justify-content: flex-end;

            @include media-breakpoint-down(sm) {
                min-height: 440px;
            }

            img {
                position: absolute;
                width: 100%;
                height: 100%;
                z-index: 0;
                @include m(0);
                @include p(0);
                top: 0;
                left: 0;
                border-radius: 15px;
            }

            p, button, h4 {
                position: relative;
                z-index: 1;
            }

            h4 {
                min-height: 140px;
                @include p(0);
                @include m(0);
                @include mb(3);

                @include media-breakpoint-down(sm){
                    font-size: $font-size-28;
                }
            }
            p {
                font-size: $font-size-20;
                line-height: $line-height-130;
                @include p(0);
                @include media-breakpoint-down(sm) {
                    font-size: 18px;
                }
            }

            button {
                @include p(0);
                @include m(0);
                @include mt(3);

                @include media-breakpoint-down(sm){
                    font-size: $font-size-16;
                }
            }

            div {
                min-height: 200px;
                border-top: 1px solid white;
                @include px(3);
                @include py(3);

                h4 {
                    font-size: $font-size-28;
                    font-weight: $font-weight-bold;
                }
                p {
                    display: none;
                    @include pb(5);
                }
            }
        }
    }
}

.container-insights {
    .row {
        @include row-cols(4);
        @include media-breakpoint-down(md) {
            @include row-cols(1);
        }
    }
}

.featured{
    height: max-content;
    @include py(3);
    @include px(0);

    background-color: $black;
    @include mb(3);

    &-tablet{
        &-small{
            display: none;
        }
    }
    &-second{
        &__box{
            &__image{
                width: 100%;
                height: 600px;
                background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(15, 6, 26, 0.2) 100%);
                border-radius: 14px;
            }
        }
    }
    &__box{
        display: flex;
        gap: 24px;

        &__image{
            border-radius: 14px;
            height: 100%;
        }

        &_content{
            display: flex;
            align-items: flex-end;
            position: relative;
            cursor: pointer;

            height: 600px;

            &_text{
                position: absolute;
                @include pl(3);

                .case__box_text {
                    display: none;
                }
            }

            &::before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(15, 6, 26, 0.9) 100%);
                border-radius: 14px;
            }

            &:hover {
                .case__box_text {
                    display: block;
                }
            }
        }
    }
    &__title{
        margin: 0 auto 40px;
        display: flex;
        justify-content: center;
    }
    &__button{
        @include py(1);
        @include px(4);

        border: 2px solid $white;
        border-radius: 10px;
        width: max-content;
        font-weight: $font-weight-bold;
        font-size: $font-size-20;
        line-height: $line-height-130;
        display: flex;
        align-items: center;
        text-align: center;
        text-transform: uppercase;
        margin: auto;
        @include mt(5);
        @include mb(0);
        color: $white;
    }
    &__box{
        &_mobile_text{
            display: none;
        }
        &_text{
            font-weight: $font-weight-normal;
            font-size: $font-size-20;
            line-height: $line-height-130;
            max-width: 386px;
            color: $gray-90;
            @include mt(6);
        }
        &_distance{
            margin-bottom: 24px;
        }
        &_button{
            display: block;
            font-weight: $font-weight-bold;
            font-size: $font-size-20;
            line-height: $line-height-130;
            text-transform: uppercase;
            color: $bright-blue;
            @include my(5);
            @include mx(0);
            cursor: pointer;
        }
    }
        .container {
            width: 100%;
            @include m(0);
            @include p(0);
            margin: 0 auto;
            // .row {
            //     @include m(0);
            //     @include p(0);
            //     max-height: 600px;
            //     position: relative;
            //     img{
            //         cursor: pointer;
            //         position: relative;
            //         position: -webkit-sticky;
            //         position: absolute;
            //         object-fit: cover;
            //         top: 20px;
            //         padding-bottom: 50%;
            //         -webkit-transform-origin: center top;
            //         transform-origin: center top;
            //         overflow: hidden;
            //         border-radius: 14px;
            //         height: 600px;
            //         padding: 0;
            //         > * {
            //             position: absolute;
            //             top: 0;
            //             left: 0;
            //             width: 100%;
            //             height: 100%;
            //         }

            //         &::before {
            //             z-index: 1;
            //             content: '';
            //             position: absolute;
            //             top: 0;
            //             left: 0;
            //             width: 100%;
            //             height: 100%;
            //             background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(15, 6, 26, 0.9) 100%);
            //             border-radius: 14px;
            //         }
            //         h6{
            //         }
            //         h4{
            //         }
            //     }
                
            // .stack-cards {
            //     --stack-cards-gap: 0;

            //     .stack-cards__item {
            //         cursor: pointer;
            //         position: relative;
            //         position: -webkit-sticky;
            //         position: sticky;
            //         top: 20px;
            //         padding-bottom: 50%;
            //         -webkit-transform-origin: center top;
            //         transform-origin: center top;
            //         overflow: hidden;
            //         height: 600px;

            //         > * {
            //             position: absolute;
            //             top: 0;
            //             left: 0;
            //             width: 100%;
            //             height: 100%;
            //         }

            //         &::before {
            //             z-index: 1;
            //             content: '';
            //             position: absolute;
            //             top: 0;
            //             left: 0;
            //             width: 100%;
            //             height: 100%;
            //             background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(15, 6, 26, 0.9) 100%);
            //             border-radius: 14px;
            //         }

            //         .featured__box_content_text {
            //             z-index: 1;

            //             padding-top: 296px;

            //             &:hover {
            //                 .case__box_text {
            //                     display: block;
            //                 }
            //             }
            //         }

            //         @include media-breakpoint-down(sm) {
            //             height: 425px;

            //             .featured__box_content_text {
            //                 @include pt(3);
            //             }
            //         }
            //     }
            // }
            // }
            .col {
                min-width: 300px;
                box-sizing: border-box;
                height: 100%;
                min-height: 600px;
                @include py(6);
                @include px(3);
                padding-right: 500px;
                cursor: pointer;
                flex: 1;
                position: relative;
    
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                @include media-breakpoint-between(sm,xl){
                    @include py(6);
                    @include px(1);
                }
                @include media-breakpoint-down(sm) {
                    min-height: 400px;
                    @include py(4);
                    @include px(3);
                }
                &:hover{
                    @include media-breakpoint-down(sm) {
                        min-height: 400px;
                        padding: 0;
                         margin: 0;
                        @include pt(5);
                        @include px(3);
                        justify-content: flex-start;
                    }
                    p{
                        display: block;
                        font-size: $font-size-20;
                        line-height: 26px;
                        @include p(0);
                        @include pt(3);
                        color: $gray-80;
                        @include media-breakpoint-down(sm) {
                            display: none;
                        }
                    }
                    h2{
                        @include media-breakpoint-down(sm) {
                            display: block;
                            font-weight: 700;
                            font-size: 28px;
                            line-height: 120%;
                        }
                    }
                    h4{
                        @include media-breakpoint-down(sm) {
                            display: block;
                            margin: 0;
                            padding: 0;
                            font-weight: 700;
                            font-size: 16px;
                            line-height: 130%;
                        }
                    }
                    button{
                        @include media-breakpoint-down(sm) {
                            display: block;
                            font-weight: 700;
                            font-size: 20px;
                            line-height: 130%;
                            width: 150px;
                            @include pt(2);
                        }
                    }
                }
    
                img {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    z-index: 0;
                    @include m(0);
                    @include p(0);
                    top: 0;
                    left: 0;
                    border-radius: 15px;
                }
    
                p, button, h2,h4 {
                    position: relative;
                    z-index: 1;
                }
                h2{
                    font-weight: 700;
                    font-size: 36px;
                    line-height: 40px;
                    @include media-breakpoint-down(sm){
                        font-weight: 700;
                        font-size: 20px;
                        line-height: 130%;
                    }
                }
    
                h4 {
                    min-height: 140px;
                    @include p(0);
                    @include m(0);
                    @include mb(3);
                    padding-top: 250px;
                    font-weight: 700;
                    font-size: 20px;
                    line-height: 130%;
    
                    @include media-breakpoint-down(sm){
                        font-size: $font-size-28;
                        display: none;
                    }
                }
                p {
                    display: none;
                }
    
                button {
                    @include p(0);
                    @include m(0);
                    @include mt(0);
    
                    @include media-breakpoint-down(sm){
                        display: none;
                    }
                }
    
                div {
                    min-height: 200px;
                    border-top: 1px solid white;
                    @include px(3);
                    @include py(3);
    
                    h4 {
                        font-size: $font-size-28;
                        font-weight: $font-weight-bold;
                    }
                    p {
                        display: none;
                        @include pb(5);
                    }
                }
            }
    }


}


@include media-breakpoint-down(lg) {
    .featured{
        height: max-content;
        @include pt(6);
        @include px(0);
        @include pb(8);

        &-second__box__image {
            width: 100%;
            height: 440px;
        }
        &__box{
            flex-direction: column;
        }
        &__tablet{
            display: flex;
            &_image{
                width: 960px;
                height: 440px;
                border-radius: 14px;
            }
            &_plus {
                cursor: pointer;
                display: inline-block;
                width: 12px;
                height: 12px;
                background: linear-gradient($white,$white),linear-gradient($white,$white), $white;
                background-position: center;
                background-size: 50% 1px,1px 50%;
                background-repeat: no-repeat;
                background: linear-gradient($white,$white),linear-gradient($white,$white);
                background-position: center;
                background-size: 100% 2px,2px 100%;
                background-repeat: no-repeat;
            }
            &_alt{
                background: linear-gradient($white,$white),linear-gradient($white,$white);
                background-position: center;
                background-size: 100% 2px,2px 100%;
                background-repeat: no-repeat;
            }
            &_minus {
                background-size: 100% 2px, 0 100%;
                @include mt(1);
                @include ml(10);

                margin-left: 112px;
            }
        }
        &-tablet{
            &-small{
                display: block;
            }
            &_image{
                width: 960px;
                height: 120px;
                background: linear-gradient(206.66deg, rgba(0, 0, 0, 0) -45.37%, rgba(15, 6, 26, 0.7) 83.29%);
                border-radius: 14px;
            }
            &_text{
                font-style: normal;
                font-weight: $font-weight-bold;
                font-size: $font-size-20;
                line-height: $line-height-130;
                color: $white;
            }
            &_content{
                position: absolute;
            }
        }
        &__box{
            flex-direction: column;
            gap: 32px;
            &_button{
                @include mt(4);
                @include mx(0);
                @include mb(3);

                margin: 32px 0px 24px;
            }
            &__image{
                display: block;
                width: 100%;
                height: 440px;
                &-tablet{
                    display: block;
                    width: 960px;
                    height: 440px;
                }
            }

            &_content {
                height: auto;
            }
        }
    }
}

@include media-breakpoint-down(sm) {
    .container{
        @include py(0);
        @include px(2);
    }
    .featured{
        height: max-content;
        @include px(0);
        @include pt(3);
        @include pb(2);

        &-second__box__image {
            width: 100%;
            height: 360px
        }
        &__mobile{
            display: none;
        }
        &__title{
            margin: auto;
            @include mt(0);
            @include mb(3);
        }
        &__box{
            grid-gap: 16px;
            &__image{
                width: 100%;
            }
            &-first{
                height: 120px;
            }
            &-second{
                height: 120px;
            }
            &_distance{
                @include mb(10);
            }
        }
    }
}
