.how-we-help {
    background: black;
    font-family: $font-family-base;
    h2 {
        @include py(2);
        @include my(3);
        font-weight: $font-weight-bold;
        font-size: $h2-font-size;
        text-align: center;
        width: 100%;
    }
    .row {
        gap: 24px;
        .col {
            flex: 1 0 402px;
            @include mb(3);
            @include px(1);
            a {
                text-decoration: none;
                color: inherit;
                div {
                    height: 100%;
                    background: $black;
                    border-radius: 0.7rem;
                    border: 1px solid $gray-80;
                    @include py(10);
                    @include px(5);
                    @include media-breakpoint-between(sm, lg) {
                    @include px(2);
                }
                h4 {
                    font-size: $h4-font-size;
                    font-weight: $font-weight-bold;
                    line-height: $line-height-base;
                    @include mt(1);
                    max-height: 76px;
                }
                p {
                    @include pt(3);
                    font-size: $font-size-20;
                    line-height: $line-height-130;
                }
                }
            }
            &:hover {
                div {
                    @include pt(4);
                    @include pb(5);
                    height: 100%;
                    background: $gradient03;
                    border: 0;
                    h4 {
                        position: relative;
                        @include pb(4);
                        @include pt(2);
                    }
                    p {
                        @include pt(10);
                        display: block;
                    }
                }
            }
        }
    }
    @include media-breakpoint-down(sm) {
        .row {
            gap: 0;
            .col {
                flex: 1 0 402px;
                @include px(2);
                a {
                    text-decoration: none;
                    color: inherit;
                    div {
                        height: 100%;
                        background: $black;
                        border-radius: 0.7rem;
                        border: 1px solid $gray-80;
                        @include py(2);
                        @include px(2);
                        @include media-breakpoint-between(sm, lg) {
                            @include px(2);
                        }
                        h4 {
                            font-size: $h5-font-size;
                            font-weight: $font-weight-bold;
                            line-height: $line-height-base;
                            @include mt(1);
                            max-height: 76px;
                            &:after{
                                content: "+";
                                position: absolute;
                                right: 14px;
                                @include pr(2);
                            }
                        }
                        p {
                            @include pt(3);
                            font-size: $font-size-20;
                            line-height: $line-height-130;
                            display: none;
                        }
                    }
                }
                &:hover {
                    div {
                        @include pt(4);
                        @include pb(5);
                        height: 100%;
                        background: $gradient03;
                        border: 0;
                        h4 {
                            position: relative;
                            &:after{
                                content: "-";
                                right: 0;
                                position: absolute;
                            }
                        }
                        p {
                            @include pt(10);
                        }
                    }
                }
            }
        } 
    }   
}
