.container-partnership-alt, .container-partnership {
    @include my(10);
    color: white;
    background-color: black;
    //background-image: url("../images/partnership_bg.svg");
    background-image: url("~@/assets/images/partnership_bg.svg");
    background-size: cover;
    @include px(11);
    @include py(2);
    @include media-breakpoint-down(lg) {
        @include px(3);
    }
    @include media-breakpoint-down(sm) {
        background: none;
    }
    .title {
        div {
            p {
                padding: 1px;
                font-size: $font-size-20;
                line-height: $line-height-130;
            }
        }
    }
    .row {
        .col {
            @include py(5);
            font-size: $font-size-16;
            line-height: $line-height-130;
            padding: 0;
            text-align: center;
            a {
                color: inherit;
                text-decoration: none;
                div {
                    @include py(4);
                    @include px(1);
                    h5 {
                        @include py(1);
                        font-size: $h5-font-size;
                        font-weight: bold;
                    }
                    p {
                        @include py(1);
                        font-size: $font-size-16;
                        margin-bottom: 0;
                    }
                }
                &:hover {
                    h5::after {
                        white-space: break-spaces;
                        content: " >>>";
                    }
                    p {
                        text-decoration: solid underline $bright-purple 1px;
                        text-underline-offset: 0.5rem;
                    }
                }
            }
        }
    }
}

.container-partnership {
    .row {
        .col {
            border: 1px solid white;
        }
    }
    .title, .row {
        @include py(5);
        @include mb(1);
        @include media-breakpoint-down(sm) {
            @include py(1);
        }
    }
    .title {
        display: flex;
        align-items: center;
        @include media-breakpoint-down(md) {
            display: block;
            text-align: center;
        }
        h2 {
            font-size: $h2-font-size;
            padding: 1px;
            width: 40%;
            @include media-breakpoint-down(md) {
                width: 100%;
                @include py(1);
            }
        }
        div {
            width: 60%;
            @include media-breakpoint-down(md) {
                width: 100%;
                @include py(1);
            }
        }
    }
}

.container-partnership-alt {
    display: flex;
    @include media-breakpoint-down(md) {
        display: block;
    }
    .row {
        @include px(11);
        @include row-cols(1);
        .col {
            &:first-child {
                border-top: none;
            }
            border-top: 1px solid white;
            @include media-breakpoint-down(md) {
                @include py(2);
            }
            a {
                div {
                    @include media-breakpoint-down(md) {
                        @include py(2);
                    }
                }
            }
        }
        @include media-breakpoint-down(lg) {
            @include px(4);
        }
    }
    .title, .row {
        width: 50%;
        @include py(5);
        @include mb(1);
        @include media-breakpoint-down(sm) {
            @include py(1);
        }
        @include media-breakpoint-down(md) {
            width: 100%;
            text-align: center;
        }
    }
    .title {
        h2, div {
            @include pr(10);
            @include py(4);
            @include media-breakpoint-down(lg) {
                @include pr(4);
            }
        }
        h2 {
            font-size: $font-size-sub01;
            @include media-breakpoint-down(md) {
                width: 100%;
                @include py(1);
            }
        }
        div {
            @include media-breakpoint-down(md) {
                width: 100%;
                @include py(1);
            }
        }
    }
}

.container-partnership {
    .row {
        @include media-breakpoint-between(sm, md) {
            @include row-cols(2);
        }
        @include media-breakpoint-down(sm) {
            @include row-cols(1);
        }
    }
}
