
.solutions {


    .carousel-control {
        margin: 4px 0;
        display: flex;
        justify-content: end;

        .carousel-control-prev, .carousel-control-next {
            position: static;
            justify-content: left;
            display: none;
            width: 48px;
            background-color: $gray-20;
            @include py(2);
            @include px(1);
            @include ml(2);

            @include media-breakpoint-down(sm) {
                display: inline-block;
            }
        }
    }

    .carousel-item {
        img {
            width: 100%;
        }
    }

    .carousel-caption {
        max-width: 100%;
        max-height: 100%;
        right: 0;
        left: 0;
        bottom: 0;
        text-align: left;
        font-size: $font-size-20;
        @include pb(6);
        @include px(4);

        a {
            color: $bright-blue;
        }
    }

    .carousel-indicators {
        @include media-breakpoint-down(sm) {
            display: none;
        }

        position: static;
        margin: 0;
        @include my(2);

        a {
            flex: 1;
            background-color: $black;
            color: $white;
            text-indent: 0;
            border: none;
            border-top: solid 2px $white;
            min-width: 20px;
            height: auto;
            @include py(2);
            margin: 0;
            font-size: $font-size-sub02;
            text-decoration: none;
            text-align: center;
        }

        a:first-child, a:last-child {
            @include media-breakpoint-up(lg) {
                display: none;
            }

            max-width: 23px;
            min-width: 23px;
            display: flex;
            align-items: center;
            justify-content: center;
            border: none;
            background-color: $gray-20;
            opacity: 1;
        }

        a.active {
            border-color: $bright-purple;
        }

        button:not(:last-child), a:not(:last-child) {
            @include mr(3);
        }
    }

    .s-list {
        padding: 0;
        list-style: none;

        div.s-list-item-body {
            width: 100%;
            @include py(3);
            display: flex;
            flex-direction: row;
            border-top: solid 1px $white;
            overflow: hidden;

            @include media-breakpoint-down(md) {
                flex-direction: column;
            }

            div.s-list-item-header {
                display: flex;
                position: relative;
                left: -406px;
                transition: left .2s linear;

                @include media-breakpoint-down(md) {
                    left: 0px;
                    flex-direction: column
                }

                h3:after {
                    @include media-breakpoint-down(md) {
                        content: "+";
                    }
                }

                h3 {
                    max-width: 530px;
                    min-width: 530px;
                    display: flex;
                    justify-content: space-between;
                    order: 2;
                    flex: 1;

                    @include media-breakpoint-down(md) {
                        align-items: center;
                        min-width: 100%;
                        order: 1;
                    }
                }

                img,
                figure {
                    background: $black;
                    margin-top: 5px;
                    max-width: 340px;
                    min-width: 340px;
                    min-height: 0;
                    margin-right: 64px;
                    flex: 1;
                    order: 1;
                    border-radius: 14px;

                    @include media-breakpoint-down(md) {
                        margin-right: 0;
                        min-width: 100%;
                        display: none;
                        order: 2;
                    }
                }
            }

            p {
                max-width: 480px;
                flex: 1;
                display: block;
                font-size: $font-size-20;
                font-weight: $font-weight-normal;

                @include media-breakpoint-down(md) {
                    @include mt(2);
                    min-width: 100%;
                    display: none;
                }
            }

            a {
                display: block;
                order: 4;
                flex: 1;
                text-align: right;
                color: $bright-blue;

                @include media-breakpoint-down(md) {
                    text-align: left;
                    display: none;
                }
            }
        }

        .is-opened {
            h3:after {
                @include media-breakpoint-down(md) {
                    content: "-" !important;
                }
            }
        }

        div.s-list-item-body:hover {
            div.s-list-item-header {
                left: 0px;
            }
        }

    }
}

.container-our-solutions {
    background: $black;

    .title {
        width: 100%;
        text-align: center;
        @include media-breakpoint-between(sm, lg) {
            @include pr(3);
        }
        @include media-breakpoint-down(sm) {
            @include px(0);
            width: 100%;

            text-align: center;
        }
        h2 {
            font-size: $h2-font-size;
            font-weight: $font-weight-bold;
            @include pt(7);
            @include pb(5);
            @include media-breakpoint-between(sm, lg) {
                @include pb(4);


            }
            @include media-breakpoint-down(sm) {
                @include pb(3);
                @include pt(1);
                @include mb(0);
                font-size: $h5-font-size;
            }
        }
        p {
            font-size: $font-size-28;
            line-height: $line-height-130;
            @include pb(5);
            @include media-breakpoint-down(sm) {
                font-size: $font-size-20;
            }
        }

        @include media-breakpoint-between(sm, lg) {
            @include pr(3);
        }
    }
    .row {
        width: 100%;
        margin: auto;
        grid-column-gap: 24px;
        @include media-breakpoint-down(sm) {
            background: $black;
            border-radius: 0.7rem;
            width: 100%;
            margin-left: 0px;
            margin-right: 0px;
        }
        .col-my {
            @include pt(3);
        }
        .col {
            min-width: 300px;
            cursor: pointer;
            flex: 1;
            @include px(0);
            @include pb(0);
            @include media-breakpoint-down(sm) {
                flex: 100%;
                &:first-child {
                    div {
                        border: none;
                    }
                }
            }
            button {
                @include p(0);
                @include pb(10);
                @include media-breakpoint-down(sm){
                    @include pb(5);
                    font-size: $font-size-16;
                }
            }
            img {
                height: 349px;
                width: 100%;
                @include pb(4);
                @include media-breakpoint-down(sm){
                    @include pb(3);
                    height: 225px;
                }
            }
            h5 {
                @include pb(3);
                @include mb(0);
                @include media-breakpoint-down(sm){
                    @include pb(2);
                    font-size: 1.25rem;
                }
            }
            p {
                font-size: $font-size-20;
                line-height: $line-height-130;
                @include pb(4);
                @include mb(0);
                @include media-breakpoint-down(sm) {
                    font-size: 18px;
                    @include pb(2);
                }
            }

            div {
                min-height: 200px;
                border-top: 1px solid white;
                @include px(3);
                @include py(3);
                @include media-breakpoint-down(sm) {
                    min-height: 0;
                    padding-bottom: 0;
                }
                h5 {
                    font-size: $font-size-28;
                    font-weight: $font-weight-bold;
                    @include media-breakpoint-down(sm) {
                        @include pb(3);
                    }
                }
                p {
                    display: none;
                    @include pb(5);
                    @include media-breakpoint-down(sm) {
                        font-size: $font-size-20;
                        line-height: $line-height-130;
                        margin-bottom: 0;
                        display: block;
                    }
                }
                @include media-breakpoint-up(sm) {
                    &:hover {
                        border:none;
                        background: linear-gradient(111.36deg, rgba(86, 8, 139, 0.6) 29.15%, rgba(173, 71, 151, 0.06) 108.07%);
                    }
                }
            }
        }
    }
}

.container-our-solutions {
    .row {
        @include row-cols(4);
        @include media-breakpoint-down(md) {
            @include row-cols(1);
        }
    }
}
