section {
  background: $black;
}
.container-team {
  @include py(7);
  h2 {
    color: $white;
    @include mb(5);
    text-align: center;
  }
  .row {
    justify-content: center;
    .col {
      max-width: 280px;
      margin-bottom: 24px;
      .card {
        height: 100%;
        width: 260px;
        border: none;
        border-radius: 0;
        .card-body {
          color: $white;
          background-color: $gray-20;
          @include px(3);
          @include pt(3);
          @include pb(2);
          .card-title {
            font-size: $font-size-16;
            font-weight: $font-weight-bold;
            @include mb(2);
          }
          .card-text {
            font-size: $font-size-14;
          }
        }
        .linkedin {
          position: absolute;
          display: block;
          width: 30px;
          height: 30px;
          top: 6px;
          right: 6px;
          img {
            width: 27px;
            filter: invert(65%);
          }
        }
        .linkedin.darker {
          img {
            filter: invert(50%);
          }
        }
      }
    }
  }
}
.bd-white {
  .container-team .row .col .card .card-body {
      color: $black;
      background-color: $white;
    }
}
