.container-why-luxoft-optional {
    display: flex;
    flex-direction: column;
    color: $white;
    font-family: $font-family-base;
    @include my(4);
    h2 {
        font-size: $h2-font-size;
        text-align: center;
        @include py(2);
        @include my(3);
    }
    .row {
        width: 100%;
        grid-gap: 24px;
        .col {
            cursor: pointer;
            background: $gray-20;
            border-radius: 14px;
            @include px(3);
            @include py(3);
            text-decoration: none;
            &:after {
                content: '>>>';
                font-weight: $font-weight-bold;
                font-size: $font-size-28;
            }
            &:hover {
                p {
                    color: inherit;
                }
            }
            a {
                color: inherit;
                text-decoration: none;
            }
            h5 {
                font-size: $font-size-28;
                font-weight: $font-weight-bold;
                @include mb(3);


            }
            p {
                color: transparent;
                @include mb(2);
                font-size: $font-size-20;
                font-weight: $font-weight-base;
                line-height: $line-height-130;
                transition: color .3s linear;
            }
        }
    }
}

.container-why-luxoft-optional {
    .row {
        @include media-breakpoint-between(sm, xl) {
            .col {
                min-width: 300px;
                flex: 1 1 0;
            }
        }
        @include media-breakpoint-down(sm) {
            @include row-cols(1);
            .col {
                min-width: unset;

                h5 {
                    position: relative;
                    font-size: $font-size-20;
                    @include m(0);
                    @include p(0);
                    @include pr(3);


                    &::after {
                        //content: url("../../images/plus.svg");
                        content: url("~@/assets/images/plus.svg");
                        position: absolute;
                        top: 0;
                        right: 0;
                        display: flex;
                        align-items: center;

                        width: 12px;
                        height: 100%;
                    }
                }
                p {
                    display: none;
                }

                &::after {
                    content: none;
                }

                &.active {
                    h5 {
                        @include mb(3);

                        &::after {
                            //content: url("../../images/minus.svg");
                            content: url("~@/assets/images/minus.svg");
                            height: 65%;
                        }
                    }
                    p {
                        display: block;                    color: inherit;
                        color: inherit;
                    }
                }
            }
        }
    }
}
